doctype html
html
  head
    link(rel="stylesheet" href="/css/styles.css")
    meta(name="viewport" content="width=device-width" initial-scale=1.0)
    title multi-user Gallery
    body

include ./../partials/header

block new-photo

block edit-photo

block home-listing

block home-detail

      script src="/js/vendor/modernizer.js"
      script src="/js/vendor/jquery.js"
      script src="/js/foundation.min.js"