extends ./layouts/mainLayout

block body
  form( action='/gallery/' method='put' )
    ul
      label(for='title') Title:
      input#title(name='title' placeholder='title')
    ul
      label(for='image-url') Image URL:
      input#url(name='url' placeholder='image url')
    ul
      label(for='author-name') Author name:
      input#author(name='author' placeholder='THIS IS EDIT')
    ul
      label(for='description') Description:
      textarea#description(name='description' placeholder='description')
    ul
      input(type='submit')