extends ./layouts/mainLayout

include ./mixins/all

block home-listing
  .row
    .large-12.columns
      +generateMainPhoto(mainPhoto)
    .large-12.columns
      +generatePhotos(photos)
      +generatePhotos(photos)