extends ./layouts/mainLayout

block new-photo-form
  form(name='new-photo-form' method='GET' action='/users')
    ul
      label(for='author-name') Author name:
      input#author-name(placeholder='authors name')
    ul
      label(for='image-url') Image URL:
      input#link(placeholder='image url')
    ul
      label(for='description') Description:
      input#description(placeholder='description Text Area')
    ul
      input(type='submit' value='#{submitButtonText}')

//- block edit-gallery-photo
//-   form(name='new-photo-form' method='GET' action='/users')
//-     ul
//-       label(for='author-name') Author name:
//-       input#author-name(placeholder='authors name')
//-     ul
//-       label(for='image-url') Image URL:
//-       input#link(placeholder='image url')
//-     ul
//-       label(for='description') Description:
//-       input#description(placeholder='description Text Area')
//-     ul
//-       input(type='submit' value='#{editButtonText}')
