extends ./layouts/mainLayout

block body
    form( name='login' action='/login/' method='POST' )
    ul
      label(for='username') Username
      input#username(name='username')
    ul
      label(for='password') Password:
      input#password(name='password')
    ul
      input(type='submit' value="login")