extends ./layouts/mainLayout

include ./mixins/all


block new-photo
  //- action points to route
  //- Be sure labels have a name to ref back to routes.post!
  form( action='/gallery/' method='post' )
    ul
      label(for='title') Title:
      input#title(name='title' placeholder='title')
    ul
      label(for='image-url') Image URL:
      input#url(name='url' placeholder='image url')
    ul
      label(for='author-name') Author name:
      input#author(name='author' placeholder='THIS IS NEW')
    ul
      label(for='description') Description:
      textarea#description(name='description' placeholder='description')
    ul
      input(type='submit')