  //- Home Listing Mixins
mixin generateMainPhoto(mainPhoto)
  #container
      .large-12.columns#top-image
        img(src= photos[Math.floor(Math.random()*3)].image)
        a(href='/gallery/:id')

//- photo is like i
mixin generatePhotos(photos)
  #photoContainer
    each photo in photos
      .large-4.columns#bottom-image
        a(href='/gallery/:id')
          img(src= photos[Math.floor(Math.random()*3)].image)
        a(href='/gallery/:id')
          img(src= photos[Math.floor(Math.random()*3)].image)
        a(href='/gallery/:id')
          img(src= photos[Math.floor(Math.random()*3)].image)

//- Home Detail Mixins
mixin generateMainPhotoInDetail(mainPhoto)
  #containerDetail
    .large-8.columns.main-img
      img(src='#{mainPhoto.image}')
      a(href='/gallery/:id') www.pexels.com

mixin generatePhotosInDetail(photos)
  #photoContainerDetail
    each photo in photos
      .large-4.columns.side-img
        a(href='/gallery/:id')
        img(src='#{photo.image}')
        p #{photo.title} #{photo.copyright}

